#cloud-config
hostname: {{ name }}
users:
  - name: syawal
    groups: sudo
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    passwd: $6$rounds=4096$jwsHNef/FxV55vJE$S44aJ5zIY6kJUYq/Ny2SePO2EAOYmcHwjsizeAoBfIO/Mt.ZPf1tsPXwtSbkXHS1i6jK9fhTAFjxaA58FxoEA/
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC5NLscotfeC/tBMFfdbt1QabUhvmcbYFdcL7RQ+Rx+NZt5p9McL7ekRtHBj2dkH9Je/bUcxBjNXVdxYlL5w4OclgbvTXDfKp/ckxLYsmA9jaM88d0FYTM/RAKpxfTZah/1tEboCtID86Zi8p8AInfMTSVwc9Mawq8b74E5aakyoFmtgWJ4uVQZvUSCtXuP8Bzg9r4jLqo1j48PSPmdVpgDE8zBgSzWdCqmpBUrspPJFsNFXLTL/lsh1BX+uS+NM7FdlzLUIogz6aXaqLT277Kb9X1IXn9LvWV/G1fUoLEFOAm2fnqVechEcfMIWO0IxKeaWgjqC8pS+FNXEfdWE9DIlx9eHLdzrTR9s3l5Agh/bvoEy86sA+Osrj3QVszp2Yeb/jkkm6oT+qSsaGsOxrU7Vw1oF6/zAWUE4zMwzwpKnoQJVqPPPQLSnLblikDyvXnb/8M0407fbGy0YKoTVKgu1xwP9Wv0JWfb7dHUcgvfIsdF6y7BJ2hx7h//ZFHsbzM= syawal@deb
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQClY+Ej/k6G4GGbUP2jR/9IVnwGjqEXfr9ca/tmvRMq0PzMkbuuB8nn9v4WlY2aQZCHUmbWCgIdHw/iYqa9wIiN+9LXHPRV3wmE4LKIkr6qWWj8X+ASK7nJEwIUn5ovN1mMh6vwgJ7pGK+u/H8CGYrWvLciM0X/QIdsuGA6yMxbAAyI073VBxAauiqTiAXc4O6SLA0pPxxfMmykTKvDJIV/pqH60+pdREINDbiomH0oQ2qZADHiMFayjdbroSh5lMItfRGtfupFjv545vC9e/lkrMV1o4m9/LClmqxDGdFYqmj+k3ZU+q17sruN+wQmvi70w9fTnHYXU98eF+TpfhR4rlgvVOXxOBUN0RVz97zuEEhf6uwyLsU/esJvtqOfLRzaJ0lYJSLyD8nlfQZ/txzkW0DZKNodj6eA24UeAEzgKaZlSwmP8msAneryeNz1aP3Q+2fklZFhCsNFkdfdQoGIssj+rYyrqtM0KeCMDrEU+FNXCZHsk9Yxfs10QlOQYXk= root@deb
ssh_pwauth: false
disable_root: true

network:
  config: disabled

write_files:
  - path: /etc/netplan/50-cloud-init.yaml
    content: |
      network:
        version: 2
        ethernets:
          enp0s3:
            dhcp4: false
            addresses: [{{ ip_enp0s3 }}/24]
          enp0s4:
            dhcp4: false
            addresses: [{{ ip_enp0s4 }}/24]
            gateway4: 192.168.113.2
            nameservers:
              addresses: [8.8.8.8]
  - path: /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg
    content: |
      network: {config: disabled}
runcmd:
  - netplan apply
  - echo "syawal:syawal123" | /usr/sbin/chpasswd
